<% layout('layouts/boilerplate') %>
  <div class="container optimizer-container">
    <h1 id="page-header" class="scheduler-heading">Schedule Optimizer</h1>
    <button type="button" id="generate-schedule-btn" class="btn btn-primary generate-schedule-btn">Generate Best
      Schedule</button>

    <div id="schedule-result" class="mt-4">
      <div id="schedule-grid" class="schedule-grid">
        <div class="schedule-header"></div>
        <% ['Monday', 'Tuesday' , 'Wednesday' , 'Thursday' , 'Friday' ].forEach(day=> { %>
          <div class="schedule-header">
            <%= day %>
          </div>
          <% }) %>
            <% ['8:00', '9:00' , '10:00' , '11:00' , '12:00' , '1:00' , '2:00' , '3:00' , '4:00' , '5:00' , '6:00'
              , '7:00' , '8:00' ].forEach(time=> { %>
              <div class="schedule-time">
                <%= time %>
              </div>
              <% for (let i=0; i < 5; i++) { %>
                <div class="schedule-row"></div>
                <% } %>
                  <% }) %>
      </div>
    </div>

    <div id="course-selection-form" class="mt-4">
      <h3>Selected Courses</h3>
      <div class="course-cards-container">
        <% Object.values(selectedCourses).forEach((course)=> { %>
          <div class="course-card" data-course-id="<%= course._id %>">
            <p class="course-title">
              <%= course.title %>
                <%= course.course_level %>
            </p>
            <button type="button" class="remove-course-btn btn btn-danger"
              data-course-id="<%= course._id %>">Remove</button>
          </div>
          <% }) %>
      </div>
    </div>

    <script id="selectedCoursesData" type="application/json">
    <%- JSON.stringify(selectedCourses) %>
  </script>
  </div>
  <script src="/javascripts/optimizer.js"></script>